# Peer-graded Assignment:
# Segmenting and Clustering Neighborhoods in Toronto
### Adding the Latitude and the Longitude for each borough in the data frame

### importing pandas library

In [1]:
import pandas as pd

### Reading the saved data frame

In [2]:
df1 = pd.read_csv("Toronto.csv", index_col=0)

### Exploring the data frame

In [3]:
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
df1.shape

(103, 3)

### Reading the Geospatial_Coordinates data frame

In [5]:
df2 = pd.read_csv("Geospatial_Coordinates.csv", names = ['Postcode','Latitude','Longitude'])

### Exploring the Geospatial_Coordinates data frame

In [6]:
df2.head()

      Postcode    Latitude    Longitude
0  Postal Code    Latitude    Longitude
1          M1B  43.8066863  -79.1943534
2          M1C  43.7845351  -79.1604971
3          M1E  43.7635726  -79.1887115
4          M1G  43.7709921  -79.2169174

In [7]:
df2.shape

(104, 3)

### Merging two dataframe

In [8]:
df = pd.merge(df1, df2, on="Postcode")

### Exploring the updated data frame

In [9]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8066863,-79.1943534
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845351,-79.1604971
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7635726,-79.1887115
3,M1G,Scarborough,Woburn,43.7709921,-79.2169174
4,M1H,Scarborough,Cedarbrae,43.773136,-79.2394761

In [10]:
df.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.5181884
99,M9P,Etobicoke,Westmount,43.696319,-79.5322424
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.6889054,-79.5547244
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.7394164,-79.5884369
102,M9W,Etobicoke,Northwest,43.7067483,-79.5940544

In [11]:
df.to_csv('Toronto_Geospatial.csv')